[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
ftx2_launchpad_program = "Dt43GLAFyDDiXMmBeU4FfLsqxhSxAG7n7bv5EeMbdMVK"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run mocha -t 1000000 tests/"

[hooks]
